{% extends "album_base.html" %}
{% load static %}
{% block main_content %}
<!-- LIBRARY -->
{% for photo in photos %}

  {% if photo.photo %}
    <article class="thumb">
      <a href="{% url 'photos_view' photo.id %}" class="image"><img src="{{ photo.photo.url }}" alt="" /></a>
      <h2>{{photo.title}}</h2>
    </article>
  {% else %}
    <article class="thumb">
      <a href="{% url 'albums' photo.id %}" class="image">
        <img src="{% static 'imager_images/album/assets/img/album_icon.png' %}" alt=""/>
      </a>
      {% if request.user.profile == photo.owner %}
        <h2><a href="{% url 'photo_edit' photo.id %}">Edit</a></h2>
      {% endif %}
    </article>
  {% endif %}

{% endfor %}
{% endblock %}
