{% extends "album_base.html" %}
{% load static %}
{% block main_content %}
<!-- <h1>YOU ARE AT PHOTO VIEW!</h1> -->
<img src="{{photo.photo.url}}" alt="" width="100%" height="100%"/>
{% endblock %}
{% block title %}{{photo.title}}{% endblock %}
{% block h2 %}
    "{{photo.title}}" by {{photo.owner.user.username}}
    {% if photo.date_published %}<br>Published {{photo.date_published}}{% endif %}
    {% if request.user.profile == photo.owner %}<br><a href="{% url 'photo_edit' photo.id %}">Edit</a>{% endif %}
{% endblock %}
{% block desc %}{{photo.description}}{% endblock %}
